openapi: 3.0.3
info:
  title: Lily Shop API
  version: 1.0.0
  description: |
    API documentation for Lily Shop — a marketplace platform with
    shops, food subscriptions, wallet payments, ads, and more.

servers:
  - url: https://api.lilyshops.com
    description: Production server

components:
  securitySchemes:
    jwtAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    # ==================== AUTH ====================
    UserRegister:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          writeOnly: true
        phone_number:
          type: string
        username:
          type: string

    MultiFieldLoginTokenObtainPair:
      type: object
      required:
        - password
      properties:
        email:
          type: string
          format: email
        username:
          type: string
        phone_number:
          type: string
        password:
          type: string
          writeOnly: true
      description: Login with email, username, or phone number + password.

    MyTokenObtainPair:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          writeOnly: true

    TokenRefresh:
      type: object
      required:
        - refresh
      properties:
        refresh:
          type: string
        access:
          type: string
          readOnly: true

    UserProfile:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        username:
          type: string
        name:
          type: string
        bio:
          type: string
        phone_number:
          type: string
        gender:
          type: string
          enum: [M, F, O]
        birthdate:
          type: string
          format: date
        profile_pic:
          type: string
          format: uri
          nullable: true
        is_verified:
          type: boolean
          description: Whether the user's email has been verified
        is_active:
          type: boolean
        date_joined:
          type: string
          format: date-time
        total_views:
          type: integer
          description: Aggregate view count across all products and content posts
        products_count:
          type: integer
        followers_count:
          type: integer
        following_count:
          type: integer
        interests:
          type: array
          items:
            $ref: '#/components/schemas/Interest'
        is_following:
          type: boolean
          nullable: true

    UserProfileUpdate:
      type: object
      properties:
        name:
          type: string
        bio:
          type: string
        phone_number:
          type: string
        gender:
          type: string
          enum: [M, F, O]
        birthdate:
          type: string
          format: date
        profile_pic:
          type: string
          format: binary
          description: Upload new profile picture

    PatchedUserProfileUpdate:
      type: object
      properties:
        name:
          type: string
        bio:
          type: string
        phone_number:
          type: string
        gender:
          type: string
          enum: [M, F, O]
        birthdate:
          type: string
          format: date
        profile_pic:
          type: string
          format: binary

    UserProfileFormData:
      type: object
      properties:
        gender_choices:
          type: array
          items:
            type: object
            properties:
              value:
                type: string
              label:
                type: string

    UsernameSet:
      type: object
      required:
        - username
      properties:
        username:
          type: string

    PatchedUsernameSet:
      type: object
      properties:
        username:
          type: string

    Interest:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string

    PaginatedInterestList:
      type: object
      properties:
        count:
          type: integer
        next:
          type: string
          format: uri
          nullable: true
        previous:
          type: string
          format: uri
          nullable: true
        results:
          type: array
          items:
            $ref: '#/components/schemas/Interest'

    UserInterestUpdate:
      type: object
      required:
        - interests
      properties:
        interests:
          type: array
          items:
            type: integer
          description: List of interest IDs

    PatchedUserInterestUpdate:
      type: object
      properties:
        interests:
          type: array
          items:
            type: integer

    UserConsent:
      type: object
      properties:
        marketing_emails:
          type: boolean
        data_sharing:
          type: boolean
        updated_at:
          type: string
          format: date-time

    PatchedUserConsent:
      type: object
      properties:
        marketing_emails:
          type: boolean
        data_sharing:
          type: boolean

    # ==================== PASSWORD RESET ====================
    PasswordResetRequest:
      type: object
      required:
        - email
      properties:
        email:
          type: string
          format: email

    PasswordResetVerify:
      type: object
      required:
        - token
      properties:
        token:
          type: string

    PasswordResetConfirm:
      type: object
      required:
        - token
        - password
      properties:
        token:
          type: string
        password:
          type: string
          writeOnly: true

    # ==================== PHONE OTP ====================
    PhoneOTPRequest:
      type: object
      required:
        - phone_number
      properties:
        phone_number:
          type: string

    PhoneOTPVerify:
      type: object
      required:
        - phone_number
        - otp
      properties:
        phone_number:
          type: string
        otp:
          type: string

    # ==================== EMAIL VERIFICATION ====================
    VerifyEmail:
      type: object
      required:
        - token
      properties:
        token:
          type: string

    # ==================== FEEDBACKS ====================
    Feedback:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user:
          type: string
          format: uuid
        message:
          type: string
        feedback_type:
          type: string
          enum: [bug, feature, general]
        status:
          type: string
          enum: [pending, reviewed, resolved]
        admin_response:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    PaginatedFeedbackList:
      type: object
      properties:
        count:
          type: integer
        next:
          type: string
          format: uri
          nullable: true
        previous:
          type: string
          format: uri
          nullable: true
        results:
          type: array
          items:
            $ref: '#/components/schemas/Feedback'

    AdminFeedback:
      type: object
      properties:
        status:
          type: string
          enum: [pending, reviewed, resolved]
        admin_response:
          type: string

    PatchedAdminFeedback:
      type: object
      properties:
        status:
          type: string
          enum: [pending, reviewed, resolved]
        admin_response:
          type: string

    # ==================== GENERAL ====================
    ErrorResponse:
      type: object
      properties:
        detail:
          type: string
        code:
          type: string

paths:
  # ==================== ADS ====================
  /ads/purchase/:
    post:
      operationId: ads_purchase_create
      description: Purchase an ad placement using wallet balance.
      tags: [ads]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Ad purchase initiated successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /ads/payment/initiate/:
    post:
      operationId: ads_payment_initiate_create
      description: Initiate Paystack payment for an ad.
      tags: [ads]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Payment initialized, returns authorization URL
        '401':
          $ref: '#/components/responses/Unauthorized'

  /ads/payment/verify/:
    post:
      operationId: ads_payment_verify_create
      description: Verify Paystack payment reference for an ad.
      tags: [ads]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reference]
              properties:
                reference:
                  type: string
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Payment verified
        '400':
          $ref: '#/components/responses/BadRequest'

  /ads/payment/webhook/:
    post:
      operationId: ads_payment_webhook_create
      description: Paystack webhook handler for ad payments.
      tags: [ads]
      responses:
        '200':
          description: Webhook processed

  /ads/{id}/:
    get:
      operationId: ads_retrieve
      description: Get ad details by ID.
      parameters:
        - in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
      tags: [ads]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Ad details
        '404':
          $ref: '#/components/responses/NotFound'

  # ==================== AUTH ====================
  /auth/users/:
    post:
      operationId: auth_users_create
      description: Register a new user. Sets is_active=False until email is confirmed.
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRegister'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UserRegister'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UserRegister'
      responses:
        '201':
          description: User created. Verification email sent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserRegister'
        '400':
          $ref: '#/components/responses/BadRequest'

  /auth/users/me/:
    delete:
      operationId: auth_users_me_destroy
      description: Delete the authenticated user's account.
      tags: [auth]
      security:
        - jwtAuth: []
      responses:
        '204':
          description: Account deleted

  /auth/users/search/:
    get:
      operationId: auth_users_search_retrieve
      description: Search users by username with annotations and prefetches.
      tags: [auth]
      security:
        - jwtAuth: []
      parameters:
        - in: query
          name: q
          schema:
            type: string
          description: Search query
      responses:
        '200':
          description: Search results

  /auth/login/:
    post:
      operationId: auth_login_create
      description: |
        Login with email, username, or phone number + password.
        Enforces is_verified=True for email-registered users.
        Returns JWT tokens on success.
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultiFieldLoginTokenObtainPair'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/MultiFieldLoginTokenObtainPair'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/MultiFieldLoginTokenObtainPair'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiFieldLoginTokenObtainPair'
        '401':
          description: Invalid credentials or email not verified

  /auth/token/:
    post:
      operationId: auth_token_create
      description: Obtain JWT token pair with rate limiting.
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MyTokenObtainPair'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/MyTokenObtainPair'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/MyTokenObtainPair'
      responses:
        '200':
          description: Token pair
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MyTokenObtainPair'

  /auth/token/refresh/:
    post:
      operationId: auth_token_refresh_create
      description: Takes a refresh token and returns a new access token.
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRefresh'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TokenRefresh'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TokenRefresh'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenRefresh'

  /auth/verify-email/:
    post:
      operationId: auth_verify_email_create
      description: Verify email address using token sent during registration.
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyEmail'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/VerifyEmail'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/VerifyEmail'
      responses:
        '200':
          description: Email verified successfully. User is now active.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyEmail'
        '400':
          $ref: '#/components/responses/BadRequest'

  /auth/resend-verification-email/:
    post:
      operationId: auth_resend_verification_email_create
      description: Resend email verification link for unverified users.
      tags: [auth]
      security:
        - jwtAuth: []
        - {}
      responses:
        '200':
          description: Verification email resent

  /auth/password-reset/request/:
    post:
      operationId: auth_password_reset_request_create
      description: |
        Receives an email. If a matching user exists, creates a token and
        sends a password reset email with link:
        `{frontend_url}/password-reset/{raw_token}`
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordResetRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PasswordResetRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PasswordResetRequest'
      responses:
        '200':
          description: Reset email sent if account exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PasswordResetRequest'

  /auth/password-reset/verify/:
    post:
      operationId: auth_password_reset_verify_create
      description: |
        Validates a password reset token — checks expiry (30 min) and usage status.
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordResetVerify'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PasswordResetVerify'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PasswordResetVerify'
      responses:
        '200':
          description: Token is valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PasswordResetVerify'

  /auth/password-reset/confirm/:
    post:
      operationId: auth_password_reset_confirm_create
      description: |
        Validates token one last time, hashes new password, updates user model,
        and destroys token validity state.
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordResetConfirm'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PasswordResetConfirm'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PasswordResetConfirm'
      responses:
        '200':
          description: Password reset successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PasswordResetConfirm'

  /auth/password-change/request/:
    post:
      operationId: auth_password_change_request_create
      description: Change password for authenticated user (requires current password).
      tags: [auth]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Password change request processed

  /auth/password-change/confirm/:
    post:
      operationId: auth_password_change_confirm_create
      description: Confirm password change with token.
      tags: [auth]
      security:
        - jwtAuth: []
        - {}
      responses:
        '200':
          description: Password changed successfully

  /auth/username/set/:
    put:
      operationId: auth_username_set_update
      description: Set or update username for the authenticated user.
      tags: [auth]
      security:
        - jwtAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsernameSet'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UsernameSet'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UsernameSet'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsernameSet'
    patch:
      operationId: auth_username_set_partial_update
      description: Set or update username for the authenticated user.
      tags: [auth]
      security:
        - jwtAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedUsernameSet'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedUsernameSet'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedUsernameSet'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsernameSet'

  /auth/profile/me/:
    get:
      operationId: auth_profile_me_retrieve
      description: Get the authenticated user's own profile.
      tags: [auth]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Current user's full profile data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'

  /auth/profile/{user_id}/:
    get:
      operationId: auth_profile_retrieve
      description: Get the public profile of another user by UUID.
      parameters:
        - in: path
          name: user_id
          schema:
            type: string
            format: uuid
          required: true
      tags: [auth]
      security:
        - jwtAuth: []
        - {}
      responses:
        '200':
          description: Public user profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'

  /auth/profile/{username}/:
    get:
      operationId: auth_profile_retrieve_2
      description: Get a user profile by username.
      parameters:
        - in: path
          name: username
          schema:
            type: string
          required: true
      tags: [auth]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: User profile

  /auth/profile/update/:
    get:
      operationId: auth_profile_update_retrieve
      description: Get current user's profile data for editing.
      tags: [auth]
      security:
        - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfileUpdate'
    put:
      operationId: auth_profile_update_update
      description: Full update of authenticated user's profile.
      tags: [auth]
      security:
        - jwtAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UserProfileUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UserProfileUpdate'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfileUpdate'
    patch:
      operationId: auth_profile_update_partial_update
      description: Partial update of authenticated user's profile.
      tags: [auth]
      security:
        - jwtAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedUserProfileUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedUserProfileUpdate'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfileUpdate'

  /auth/profile/update-profile-pic/:
    patch:
      operationId: auth_profile_update_profile_pic_partial_update
      description: Update only the profile picture.
      tags: [auth]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Profile picture updated

  /auth/profile/form-data/:
    get:
      operationId: auth_profile_form_data_retrieve
      description: Get form choices (e.g. gender) for profile editing.
      tags: [auth]
      security:
        - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfileFormData'

  /auth/profile/add-interests/:
    put:
      operationId: auth_profile_add_interests_update
      description: Update a user's interests (replace all).
      tags: [auth]
      security:
        - jwtAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserInterestUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UserInterestUpdate'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UserInterestUpdate'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInterestUpdate'
    patch:
      operationId: auth_profile_add_interests_partial_update
      description: Partially update a user's interests.
      tags: [auth]
      security:
        - jwtAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedUserInterestUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedUserInterestUpdate'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedUserInterestUpdate'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInterestUpdate'

  /auth/profile/available-interests/:
    get:
      operationId: auth_profile_available_interests_list
      description: List interests the current user hasn't added yet.
      tags: [auth]
      security:
        - jwtAuth: []
      parameters:
        - name: page
          required: false
          in: query
          schema:
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedInterestList'

  /auth/interests/:
    get:
      operationId: auth_interests_list
      description: List all available interests.
      tags: [auth]
      parameters:
        - name: page
          required: false
          in: query
          schema:
            type: integer
      security:
        - jwtAuth: []
        - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedInterestList'

  /auth/follow/{user_id}/:
    post:
      operationId: auth_follow_create
      description: Follow or unfollow a user (toggle).
      parameters:
        - in: path
          name: user_id
          schema:
            type: string
            format: uuid
          required: true
      tags: [auth]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Follow toggled

  /auth/followers/{user_id}/:
    get:
      operationId: auth_followers_retrieve
      description: Get all followers of a specific user.
      parameters:
        - in: path
          name: user_id
          schema:
            type: string
            format: uuid
          required: true
      tags: [auth]
      security:
        - jwtAuth: []
        - {}
      responses:
        '200':
          description: List of followers

  /auth/following/{user_id}/:
    get:
      operationId: auth_following_retrieve
      description: Get all users that a specific user follows.
      parameters:
        - in: path
          name: user_id
          schema:
            type: string
            format: uuid
          required: true
      tags: [auth]
      security:
        - jwtAuth: []
        - {}
      responses:
        '200':
          description: List of followed users

  /auth/phone/otp/request/:
    post:
      operationId: auth_phone_otp_request_create
      description: Request OTP for phone number verification.
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneOTPRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PhoneOTPRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PhoneOTPRequest'
      security:
        - jwtAuth: []
        - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneOTPRequest'

  /auth/phone/otp/verify/:
    post:
      operationId: auth_phone_otp_verify_create
      description: Verify OTP code and activate user account.
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneOTPVerify'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PhoneOTPVerify'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PhoneOTPVerify'
      security:
        - jwtAuth: []
        - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneOTPVerify'

  /auth/me/consent-preferences/:
    get:
      operationId: auth_me_consent_preferences_retrieve
      description: Get the authenticated user's consent preferences.
      tags: [auth]
      security:
        - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserConsent'
    put:
      operationId: auth_me_consent_preferences_update
      description: Update consent preferences.
      tags: [auth]
      security:
        - jwtAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserConsent'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UserConsent'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UserConsent'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserConsent'
    patch:
      operationId: auth_me_consent_preferences_partial_update
      description: Partially update consent preferences.
      tags: [auth]
      security:
        - jwtAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedUserConsent'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedUserConsent'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedUserConsent'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserConsent'

  /auth/lambda/:
    post:
      operationId: auth_lambda_create
      tags: [auth]
      security:
        - jwtAuth: []
        - {}
      responses:
        '200':
          description: No response body

  # ==================== ESCROW ====================
  /escrow/:
    post:
      operationId: escrow_create
      tags: [escrow]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Escrow transaction created

  # ==================== FEEDBACKS ====================
  /feedbacks/create/:
    post:
      operationId: feedbacks_create_create
      description: Submit feedback as an authenticated user.
      tags: [feedbacks]
      security:
        - jwtAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [message]
              properties:
                message:
                  type: string
                feedback_type:
                  type: string
                  enum: [bug, feature, general]
      responses:
        '200':
          description: Feedback submitted

  /feedbacks/me/:
    get:
      operationId: feedbacks_me_retrieve
      description: List feedback submitted by the authenticated user.
      tags: [feedbacks]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: User's feedback list

  /feedbacks/all/:
    get:
      operationId: feedbacks_all_list
      description: Admin-only — list all user feedback with pagination.
      tags: [feedbacks]
      security:
        - jwtAuth: []
      parameters:
        - name: page
          required: false
          in: query
          schema:
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedFeedbackList'

  /feedbacks/{feedback_id}/update/:
    put:
      operationId: feedbacks_update_update
      description: Admin update feedback status and add response.
      parameters:
        - in: path
          name: feedback_id
          schema:
            type: string
            format: uuid
          required: true
      tags: [feedbacks]
      security:
        - jwtAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminFeedback'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminFeedback'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AdminFeedback'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminFeedback'
    patch:
      operationId: feedbacks_update_partial_update
      description: Admin partial update feedback status and response.
      parameters:
        - in: path
          name: feedback_id
          schema:
            type: string
            format: uuid
          required: true
      tags: [feedbacks]
      security:
        - jwtAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedAdminFeedback'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedAdminFeedback'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedAdminFeedback'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminFeedback'

  # ==================== LOCATIONS ====================
  /locations/states/:
    get:
      operationId: locations_states_list
      description: List all states.
      tags: [locations]
      security:
        - {}
      responses:
        '200':
          description: List of states

  /locations/lgas/:
    get:
      operationId: locations_lgas_list
      description: List LGAs for a given state.
      tags: [locations]
      parameters:
        - in: query
          name: state_id
          schema:
            type: integer
          required: true
      security:
        - {}
      responses:
        '200':
          description: List of LGAs

  /location/nearby/users/:
    get:
      operationId: location_nearby_users_retrieve
      description: Find users near the current user's location.
      tags: [locations]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Nearby users

  /location/nearby/products/:
    get:
      operationId: location_nearby_products_retrieve
      description: Find products near the current user's location.
      tags: [locations]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Nearby products

  # ==================== NOTIFICATIONS ====================
  /notifications/:
    get:
      operationId: notifications_list
      description: List notifications for the authenticated user.
      tags: [notifications]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: List of notifications

  /notifications/{id}/:
    get:
      operationId: notifications_retrieve
      description: Get a specific notification.
      tags: [notifications]
      parameters:
        - in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Notification details

  /notifications/{id}/read/:
    post:
      operationId: notifications_read_create
      description: Mark a single notification as read.
      tags: [notifications]
      parameters:
        - in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Marked as read

  /notifications/mark-all-read/:
    post:
      operationId: notifications_mark_all_read_create
      description: Mark all notifications as read.
      tags: [notifications]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: All marked as read

  # ==================== MESSAGES ====================
  /messages/:
    post:
      operationId: messages_create
      description: Send a message to another user.
      tags: [messages]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Message sent

  /messages/share/{product_id}/:
    post:
      operationId: messages_share_product_create
      description: Share a product to a chat conversation.
      tags: [messages]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Product shared

  # ==================== USERS ====================
  /users/me/addresses/:
    get:
      operationId: users_me_addresses_list
      description: List saved delivery addresses.
      tags: [users]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: List of addresses
    post:
      operationId: users_me_addresses_create
      description: Add a new delivery address.
      tags: [users]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Address created

  /users/me/addresses/{id}/:
    patch:
      operationId: users_me_addresses_partial_update
      description: Update a delivery address (e.g. set as default).
      tags: [users]
      parameters:
        - in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Address updated

  /users/me/cards/:
    get:
      operationId: users_me_cards_list
      description: List saved cards.
      tags: [users]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: List of saved cards
    post:
      operationId: users_me_cards_create
      description: Save a new card.
      tags: [users]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Card saved

  /user/verify-password/:
    post:
      operationId: user_verify_password_create
      description: Verify user's current password for sensitive operations.
      tags: [users]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Password verified

  # ==================== WALLET ====================
  /wallet/me/:
    get:
      operationId: wallet_me_retrieve
      description: Get wallet balance and details.
      tags: [wallet]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Wallet details

  /wallet/topup/:
    post:
      operationId: wallet_topup_create
      description: Top up wallet via Paystack.
      tags: [wallet]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Top-up initialized

  /wallet/withdraw/:
    post:
      operationId: wallet_withdraw_create
      description: Request a withdrawal from wallet.
      tags: [wallet]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Withdrawal requested

  /wallet/withdrawals/:
    get:
      operationId: wallet_withdrawals_list
      description: List withdrawal history.
      tags: [wallet]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Withdrawal history

  /wallet/withdrawals/{id}/:
    get:
      operationId: wallet_withdrawals_retrieve
      description: Get withdrawal details.
      tags: [wallet]
      parameters:
        - in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Withdrawal details

  # ==================== ORDERS ====================
  /orders/calculate-checkout/:
    post:
      operationId: orders_calculate_checkout_create
      description: Calculate checkout totals before placing an order.
      tags: [orders]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Checkout calculation

  /orders/create/:
    post:
      operationId: orders_create_create
      description: Place a new order.
      tags: [orders]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Order created

  # ==================== PAYMENT ====================
  /payment/initiate-bank-transfer/:
    post:
      operationId: payment_initiate_bank_transfer_create
      description: Initiate a bank transfer payment.
      tags: [payment]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Bank transfer initiated

  /payment/status/{order_id}/:
    get:
      operationId: payment_status_retrieve
      description: Check payment status for an order.
      tags: [payment]
      parameters:
        - in: path
          name: order_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Payment status

  # ==================== SUBSCRIPTIONS ====================
  /subscriptions/user/initiate/:
    post:
      operationId: subscriptions_user_initiate_create
      description: Initiate a user subscription payment.
      tags: [subscriptions]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Subscription payment initiated

  /subscriptions/user/verify/:
    post:
      operationId: subscriptions_user_verify_create
      description: Verify a user subscription payment.
      tags: [subscriptions]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Subscription payment verified

  /subscriptions/user/status/:
    get:
      operationId: subscriptions_user_status_retrieve
      description: Get current user's subscription status.
      tags: [subscriptions]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Subscription status

  /subscriptions/user/cancel/:
    post:
      operationId: subscriptions_user_cancel_create
      description: Cancel user subscription.
      tags: [subscriptions]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Subscription cancelled

  # ==================== STAFF ====================
  /staff/withdrawals/:
    get:
      operationId: staff_withdrawals_list
      description: Admin list all withdrawal requests.
      tags: [staff]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Withdrawal list

  /staff/uprocessed-withdrawal-requests/:
    get:
      operationId: staff_unprocessed_withdrawal_requests_list
      description: Admin list unprocessed withdrawal requests.
      tags: [staff]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Unprocessed withdrawals

  /staff/succesful-withdrawals/:
    patch:
      operationId: staff_successful_withdrawals_update
      description: Mark a withdrawal as successful.
      tags: [staff]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Withdrawal marked successful

  /staff/unsucessful-withdrawals/:
    patch:
      operationId: staff_unsuccessful_withdrawals_update
      description: Mark a withdrawal as unsuccessful.
      tags: [staff]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Withdrawal marked unsuccessful

  /staff/vendors/{vendor_id}/:
    delete:
      operationId: staff_vendors_destroy
      description: Soft-delete a vendor (staff action).
      parameters:
        - in: path
          name: vendor_id
          schema:
            type: string
            format: uuid
          required: true
      tags: [staff]
      security:
        - jwtAuth: []
      responses:
        '204':
          description: Vendor soft-deleted

  /staff/vendors/{vendor_id}/hard/:
    delete:
      operationId: staff_vendors_hard_destroy
      description: Hard-delete a vendor (staff action).
      parameters:
        - in: path
          name: vendor_id
          schema:
            type: string
            format: uuid
          required: true
      tags: [staff]
      security:
        - jwtAuth: []
      responses:
        '204':
          description: Vendor hard-deleted

  # ==================== FOODS ====================
  /foods/vendors/:
    get:
      operationId: foods_vendors_list
      description: List food vendors with optional filters.
      tags: [foods]
      security:
        - jwtAuth: []
        - {}
      responses:
        '200':
          description: List of food vendors

  /foods/food-vendors/:
    post:
      operationId: foods_food_vendors_create
      description: Create a new food vendor profile.
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Food vendor created

  /foods/food-vendors/me/:
    patch:
      operationId: foods_food_vendors_me_partial_update
      description: Update own food vendor profile.
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Vendor profile updated

  /foods/vendors/me/:
    delete:
      operationId: foods_vendors_me_destroy
      description: Delete own food vendor profile.
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '204':
          description: Vendor profile deleted

  /foods/vendors/subscribed/:
    get:
      operationId: foods_vendors_subscribed_list
      description: List vendors the current user is subscribed to.
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Subscribed vendors

  /foods/vendors/profiles/form-data/:
    get:
      operationId: foods_vendors_profiles_form_data_retrieve
      description: Get form data for vendor profile editing.
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Vendor form data

  /foods/vendors/{vendor_id}/reviews/:
    get:
      operationId: foods_vendors_reviews_list
      description: List reviews for a vendor.
      tags: [foods]
      parameters:
        - in: path
          name: vendor_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Vendor reviews
    post:
      operationId: foods_vendors_reviews_create
      description: Create a review for a vendor.
      tags: [foods]
      parameters:
        - in: path
          name: vendor_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Review created

  /foods/meals/:
    post:
      operationId: foods_meals_create
      description: Create a meal item.
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Meal created

  /foods/meals/{meal_id}/delete/:
    delete:
      operationId: foods_meals_delete_destroy
      description: Delete a meal item.
      tags: [foods]
      parameters:
        - in: path
          name: meal_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '204':
          description: Meal deleted

  /foods/meals/vendors/{vendor_id}/:
    get:
      operationId: foods_meals_vendors_list
      description: List meals by vendor.
      tags: [foods]
      parameters:
        - in: path
          name: vendor_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Vendor meals

  /foods/meals/{meal_id}/to/{menu_id}/:
    post:
      operationId: foods_meals_add_to_menu_create
      description: Add a meal to a menu plan.
      tags: [foods]
      parameters:
        - in: path
          name: meal_id
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: menu_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Meal added to menu

  /foods/meals/{meal_id}/from/{menu_id}/:
    delete:
      operationId: foods_meals_remove_from_menu_destroy
      description: Remove a meal from a menu plan.
      tags: [foods]
      parameters:
        - in: path
          name: meal_id
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: menu_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '204':
          description: Meal removed from menu

  /foods/meal-plans/:
    get:
      operationId: foods_meal_plans_list
      description: List meal plans.
      tags: [foods]
      security:
        - jwtAuth: []
        - {}
      responses:
        '200':
          description: List of meal plans
    post:
      operationId: foods_meal_plans_create
      description: Create a meal plan.
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Meal plan created

  /foods/meal-plans/{plan_id}/delete/:
    delete:
      operationId: foods_meal_plans_delete_destroy
      description: Delete a meal plan.
      tags: [foods]
      parameters:
        - in: path
          name: plan_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '204':
          description: Meal plan deleted

  /foods/subscriptions/create/:
    post:
      operationId: foods_subscriptions_create_create
      description: Create a subscription plan or upload media.
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Subscription plan created

  /foods/subscriptions/{subscription_id}/update/:
    put:
      operationId: foods_subscriptions_update_update
      description: Update a subscription plan.
      tags: [foods]
      parameters:
        - in: path
          name: subscription_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Subscription plan updated
    patch:
      operationId: foods_subscriptions_update_partial_update
      description: Partially update a subscription plan.
      tags: [foods]
      parameters:
        - in: path
          name: subscription_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Subscription plan partially updated

  /foods/subscriptions/{subscription_id}/delete/:
    delete:
      operationId: foods_subscriptions_delete_destroy
      description: Delete a subscription plan.
      tags: [foods]
      parameters:
        - in: path
          name: subscription_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '204':
          description: Subscription plan deleted

  /foods/subscribe/:
    post:
      operationId: foods_subscribe_create
      description: Subscribe to a plan (wallet or Paystack).
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Subscription created

  /foods/subscriptions/me/:
    get:
      operationId: foods_subscriptions_me_list
      description: Get current user's subscriptions.
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: User's subscriptions

  /foods/subscriptions/{subscription_id}/:
    get:
      operationId: foods_subscriptions_retrieve
      description: Get subscription details.
      tags: [foods]
      parameters:
        - in: path
          name: subscription_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Subscription details

  /foods/subscriptions/{subscription_id}/meals/:
    put:
      operationId: foods_subscriptions_meals_update
      description: Update meal selections for a subscription.
      tags: [foods]
      parameters:
        - in: path
          name: subscription_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Meals updated

  /foods/subscriptions/{subscription_id}/cancel/:
    post:
      operationId: foods_subscriptions_cancel_create
      description: Cancel a subscription.
      tags: [foods]
      parameters:
        - in: path
          name: subscription_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Subscription cancelled

  /foods/subscriptions/{subscription_id}/pause/:
    post:
      operationId: foods_subscriptions_pause_create
      description: Pause a subscription.
      tags: [foods]
      parameters:
        - in: path
          name: subscription_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Subscription paused

  /foods/subscriptions/{subscription_id}/resume/:
    post:
      operationId: foods_subscriptions_resume_create
      description: Resume a paused subscription.
      tags: [foods]
      parameters:
        - in: path
          name: subscription_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Subscription resumed

  /foods/subscriptions/vendor/:
    get:
      operationId: foods_subscriptions_vendor_list
      description: Get subscriptions for the authenticated vendor.
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Vendor subscriptions

  /foods/subscriptions/vendors/{vendor_id}/plans/:
    get:
      operationId: foods_subscriptions_vendors_plans_list
      description: List subscription plans for a specific vendor.
      tags: [foods]
      parameters:
        - in: path
          name: vendor_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
        - {}
      responses:
        '200':
          description: Vendor subscription plans

  /foods/subscriptions/{subscription_id}/customizations/:
    get:
      operationId: foods_subscriptions_customizations_list
      description: Get customizations for a subscription.
      tags: [foods]
      parameters:
        - in: path
          name: subscription_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Subscription customizations
    post:
      operationId: foods_subscriptions_customizations_create
      description: Add a customization to a subscription.
      tags: [foods]
      parameters:
        - in: path
          name: subscription_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Customization added

  /foods/customizations/{customization_id}/:
    get:
      operationId: foods_customizations_retrieve
      description: Get customization details.
      tags: [foods]
      parameters:
        - in: path
          name: customization_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Customization details
    put:
      operationId: foods_customizations_update
      description: Update a customization.
      tags: [foods]
      parameters:
        - in: path
          name: customization_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Customization updated
    patch:
      operationId: foods_customizations_partial_update
      description: Partially update a customization.
      tags: [foods]
      parameters:
        - in: path
          name: customization_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Customization partially updated

  /foods/me/customizations/:
    get:
      operationId: foods_me_customizations_list
      description: Get customizations for the current user.
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: User customizations

  /foods/vendor/wallet/:
    get:
      operationId: foods_vendor_wallet_retrieve
      description: Get vendor wallet details.
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Vendor wallet

  /foods/vendor/withdrawals/:
    get:
      operationId: foods_vendor_withdrawals_list
      description: List vendor withdrawals.
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Vendor withdrawals

  /foods/vendor/earnings/summary/:
    get:
      operationId: foods_vendor_earnings_summary_retrieve
      description: Get earnings summary for vendor.
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Earnings summary

  /foods/vendor/earnings/history/:
    get:
      operationId: foods_vendor_earnings_history_list
      description: Get earnings history for vendor.
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Earnings history

  /foods/vendor/earnings/chart/:
    get:
      operationId: foods_vendor_earnings_chart_retrieve
      description: Get earnings chart data for vendor.
      tags: [foods]
      parameters:
        - in: query
          name: period
          schema:
            type: string
            enum: [weekly, monthly, yearly]
          default: weekly
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Earnings chart data

  /foods/vendor/analytics/:
    get:
      operationId: foods_vendor_analytics_list
      description: Get analytics for vendor dashboard.
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Analytics data

  /foods/vendor/dashboard/overview/:
    get:
      operationId: foods_vendor_dashboard_overview_retrieve
      description: Get dashboard overview stats.
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Dashboard overview

  /foods/vendor/dashboard/recent-activity/:
    get:
      operationId: foods_vendor_dashboard_recent_activity_retrieve
      description: Get recent activity for vendor dashboard.
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Recent activity

  /foods/vendor/dashboard/subscriber-growth/:
    get:
      operationId: foods_vendor_dashboard_subscriber_growth_retrieve
      description: Get subscriber growth data.
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Subscriber growth

  /foods/vendor/churn/:
    get:
      operationId: foods_vendor_churn_retrieve
      description: Get churn rate data for vendor.
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Churn data

  /foods/vendor/ratings/:
    get:
      operationId: foods_vendor_ratings_list
      description: Get ratings for vendor.
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Vendor ratings

  /foods/vendor/ratings/summary/:
    get:
      operationId: foods_vendor_ratings_summary_retrieve
      description: Get ratings summary for vendor.
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Ratings summary

  /foods/vendor/conversations/:
    get:
      operationId: foods_vendor_conversations_list
      description: List vendor conversations.
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Conversations

  /foods/vendor/conversations/{conversation_id}/messages/:
    get:
      operationId: foods_vendor_conversations_messages_list
      description: Get messages in a conversation.
      tags: [foods]
      parameters:
        - in: path
          name: conversation_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Messages
    post:
      operationId: foods_vendor_conversations_messages_create
      description: Send a message in a conversation.
      tags: [foods]
      parameters:
        - in: path
          name: conversation_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Message sent

  /foods/vendor/shop-status/:
    get:
      operationId: foods_vendor_shop_status_retrieve
      description: Get vendor shop status.
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Shop status

  /foods/vendor/shop-status/pause/:
    post:
      operationId: foods_vendor_shop_status_pause_create
      description: Pause vendor shop.
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Shop paused

  /foods/vendor/shop-status/resume/:
    post:
      operationId: foods_vendor_shop_status_resume_create
      description: Resume vendor shop.
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Shop resumed

  /foods/vendor/availability/:
    get:
      operationId: foods_vendor_availability_retrieve
      description: Get vendor availability settings.
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Availability settings
    put:
      operationId: foods_vendor_availability_update
      description: Update vendor availability settings.
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Availability updated
    patch:
      operationId: foods_vendor_availability_partial_update
      description: Partial update vendor availability.
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Availability partially updated

  /foods/vendor/cutoff-settings/:
    get:
      operationId: foods_vendor_cutoff_settings_retrieve
      description: Get vendor cutoff settings.
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Cutoff settings
    put:
      operationId: foods_vendor_cutoff_settings_update
      description: Update vendor cutoff settings.
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Cutoff settings updated
    patch:
      operationId: foods_vendor_cutoff_settings_partial_update
      description: Partial update vendor cutoff settings.
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Cutoff settings partially updated

  /foods/vendor/broadcast/:
    post:
      operationId: foods_vendor_broadcast_create
      description: Send a broadcast message to subscribers.
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Broadcast sent

  /foods/vendor/broadcast/history/:
    get:
      operationId: foods_vendor_broadcast_history_list
      description: Get broadcast history.
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Broadcast history

  /foods/vendor/orders/:
    get:
      operationId: foods_vendor_orders_list
      description: List vendor orders.
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Orders

  /foods/vendor/orders/{order_id}/status/:
    put:
      operationId: foods_vendor_orders_status_update
      description: Update order status.
      tags: [foods]
      parameters:
        - in: path
          name: order_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Order status updated
    patch:
      operationId: foods_vendor_orders_status_partial_update
      description: Partial update order status.
      tags: [foods]
      parameters:
        - in: path
          name: order_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Order status partially updated

  /foods/vendor/orders/daily-prep-list/:
    get:
      operationId: foods_vendor_orders_daily_prep_list_retrieve
      description: Get daily prep list for vendor.
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Daily prep list

  /foods/vendor/addons/:
    get:
      operationId: foods_vendor_addons_list
      description: List vendor addons.
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Addons
    post:
      operationId: foods_vendor_addons_create
      description: Create a vendor addon.
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Addon created

  /foods/vendor/addons/{addon_id}/:
    put:
      operationId: foods_vendor_addons_update
      description: Update a vendor addon.
      tags: [foods]
      parameters:
        - in: path
          name: addon_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Addon updated
    patch:
      operationId: foods_vendor_addons_partial_update
      description: Partial update a vendor addon.
      tags: [foods]
      parameters:
        - in: path
          name: addon_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Addon partially updated
    delete:
      operationId: foods_vendor_addons_destroy
      description: Delete a vendor addon.
      tags: [foods]
      parameters:
        - in: path
          name: addon_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '204':
          description: Addon deleted

  /foods/vendor/packages/:
    get:
      operationId: foods_vendor_packages_list
      description: List vendor packages.
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Packages
    post:
      operationId: foods_vendor_packages_create
      description: Create a vendor package.
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Package created

  /foods/vendor/packages/{package_id}/:
    get:
      operationId: foods_vendor_packages_retrieve
      description: Get a vendor package.
      tags: [foods]
      parameters:
        - in: path
          name: package_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Package details
    put:
      operationId: foods_vendor_packages_update
      description: Update a vendor package.
      tags: [foods]
      parameters:
        - in: path
          name: package_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Package updated
    patch:
      operationId: foods_vendor_packages_partial_update
      description: Partial update a vendor package.
      tags: [foods]
      parameters:
        - in: path
          name: package_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Package partially updated
    delete:
      operationId: foods_vendor_packages_destroy
      description: Delete a vendor package.
      tags: [foods]
      parameters:
        - in: path
          name: package_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '204':
          description: Package deleted

  /foods/favorites/meal-plans/:
    get:
      operationId: foods_favorites_meal_plans_list
      description: List favorite meal plans.
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Favorite meal plans

  /foods/favorites/meal-plans/{menu_id}/add/:
    post:
      operationId: foods_favorites_meal_plans_add_create
      description: Add a meal plan to favorites.
      tags: [foods]
      parameters:
        - in: path
          name: menu_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Added to favorites

  /foods/favorites/meal-plans/{favorite_menu_id}/delete/:
    delete:
      operationId: foods_favorites_meal_plans_delete_destroy
      description: Remove a meal plan from favorites.
      tags: [foods]
      parameters:
        - in: path
          name: favorite_menu_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '204':
          description: Removed from favorites

  /foods/favorites/meals/:
    get:
      operationId: foods_favorites_meals_list
      description: List favorite meals.
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Favorite meals

  /foods/favorites/meals/{menu_item_id}/add/:
    post:
      operationId: foods_favorites_meals_add_create
      description: Add a meal to favorites.
      tags: [foods]
      parameters:
        - in: path
          name: menu_item_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Added to favorites

  /foods/favorites/meals/{favorite_menu_item_id}/delete/:
    delete:
      operationId: foods_favorites_meals_delete_destroy
      description: Remove a meal from favorites.
      tags: [foods]
      parameters:
        - in: path
          name: favorite_menu_item_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '204':
          description: Removed from favorites

  /foods/favorites/subscriptions/:
    get:
      operationId: foods_favorites_subscriptions_list
      description: List favorite subscriptions.
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Favorite subscriptions

  /foods/favorites/subscriptions/{subscription_plan_id}/add/:
    post:
      operationId: foods_favorites_subscriptions_add_create
      description: Add a subscription plan to favorites.
      tags: [foods]
      parameters:
        - in: path
          name: subscription_plan_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Added to favorites

  /foods/favorites/subscriptions/{favorite_subscription_plan_id}/delete/:
    delete:
      operationId: foods_favorites_subscriptions_delete_destroy
      description: Remove a subscription plan from favorites.
      tags: [foods]
      parameters:
        - in: path
          name: favorite_subscription_plan_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '204':
          description: Removed from favorites

  /foods/favorites/vendors/:
    get:
      operationId: foods_favorites_vendors_list
      description: List favorite vendors.
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Favorite vendors

  /foods/favorites/vendors/{vendor_id}/add/:
    post:
      operationId: foods_favorites_vendors_add_create
      description: Add a vendor to favorites.
      tags: [foods]
      parameters:
        - in: path
          name: vendor_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Added to favorites

  /foods/favorites/vendors/{favorite_vendor_id}/delete/:
    delete:
      operationId: foods_favorites_vendors_delete_destroy
      description: Remove a vendor from favorites.
      tags: [foods]
      parameters:
        - in: path
          name: favorite_vendor_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '204':
          description: Removed from favorites

  /foods/admin/statistics/:
    get:
      operationId: foods_admin_statistics_list
      description: Admin statistics endpoint.
      tags: [foods]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Admin statistics

  # ==================== REVIEWS ====================
  /foods/reviews/{review_id}/:
    put:
      operationId: foods_reviews_update
      description: Update a review.
      tags: [foods]
      parameters:
        - in: path
          name: review_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Review updated
    patch:
      operationId: foods_reviews_partial_update
      description: Partial update a review.
      tags: [foods]
      parameters:
        - in: path
          name: review_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Review partially updated
    delete:
      operationId: foods_reviews_destroy
      description: Delete a review.
      tags: [foods]
      parameters:
        - in: path
          name: review_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '204':
          description: Review deleted

  # ==================== SHOPS ====================
  /shops/:
    get:
      operationId: shops_list
      description: List/search shops.
      tags: [shops]
      security:
        - jwtAuth: []
        - {}
      responses:
        '200':
          description: List of shops

  /shops/feed/:
    get:
      operationId: shops_feed_list
      description: Get feed of products and content posts.
      tags: [shops]
      security:
        - jwtAuth: []
        - {}
      responses:
        '200':
          description: Feed

  /shops/products/nearby/:
    get:
      operationId: shops_products_nearby_list
      description: Get nearby products based on user location.
      tags: [shops]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Nearby products

  /shops/products/search/:
    get:
      operationId: shops_products_search_list
      description: Search products.
      tags: [shops]
      security:
        - jwtAuth: []
        - {}
      responses:
        '200':
          description: Search results

  /shops/my-liked-products/:
    get:
      operationId: shops_my_liked_products_list
      description: List products liked by the current user.
      tags: [shops]
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Liked products

  /shops/pickup-locations/:
    get:
      operationId: shops_pickup_locations_list
      description: List pickup locations.
      tags: [shops]
      security:
        - jwtAuth: []
        - {}
      responses:
        '200':
          description: Pickup locations

  /shops/{shop_id}/:
    get:
      operationId: shops_retrieve
      description: Get shop details by ID.
      tags: [shops]
      parameters:
        - in: path
          name: shop_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
        - {}
      responses:
        '200':
          description: Shop details

  /shops/{shop_id}/products/:
    get:
      operationId: shops_products_list
      description: List products for a specific shop.
      tags: [shops]
      parameters:
        - in: path
          name: shop_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
        - {}
      responses:
        '200':
          description: Shop products

  /shops/{shop_id}/toggle-follow/:
    post:
      operationId: shops_toggle_follow_create
      description: Toggle follow on a shop.
      tags: [shops]
      parameters:
        - in: path
          name: shop_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Follow toggled

  /shops/products/{product_id}/:
    get:
      operationId: shops_products_retrieve
      description: Get product details.
      tags: [shops]
      parameters:
        - in: path
          name: product_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
        - {}
      responses:
        '200':
          description: Product details

  /shops/products/{product_id}/delete/:
    delete:
      operationId: shops_products_delete_destroy
      description: Delete a product.
      tags: [shops]
      parameters:
        - in: path
          name: product_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '204':
          description: Product deleted

  /shops/products/{product_id}/comments/:
    get:
      operationId: shops_products_comments_list
      description: Get comments for a product.
      tags: [shops]
      parameters:
        - in: path
          name: product_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
        - {}
      responses:
        '200':
          description: Product comments

  /shops/products/{product_id}/comment-create/:
    post:
      operationId: shops_products_comment_create_create
      description: Add a comment to a product.
      tags: [shops]
      parameters:
        - in: path
          name: product_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Comment created

  /shops/products/{product_id}/like/:
    post:
      operationId: shops_products_like_create
      description: Like or unlike a product (toggle).
      tags: [shops]
      parameters:
        - in: path
          name: product_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Like toggled

  /shops/products/{product_id}/views/:
    post:
      operationId: shops_products_views_create
      description: Record a view on a product.
      tags: [shops]
      parameters:
        - in: path
          name: product_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
        - {}
      responses:
        '200':
          description: View recorded
    get:
      operationId: shops_products_views_retrieve
      description: Get the view count for a product.
      tags: [shops]
      parameters:
        - in: path
          name: product_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
        - {}
      responses:
        '200':
          description: View count

  /shops/products/comments/{comment_id}/delete/:
    delete:
      operationId: shops_products_comments_delete_destroy
      description: Delete a product comment.
      tags: [shops]
      parameters:
        - in: path
          name: comment_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '204':
          description: Comment deleted

  /shops/product-comments/{comment_id}/like/:
    post:
      operationId: shops_product_comments_like_create
      description: Like or unlike a product comment.
      tags: [shops]
      parameters:
        - in: path
          name: comment_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Like toggled

  /shops/contents/{content_id}/:
    get:
      operationId: shops_contents_retrieve
      description: Get content post details.
      tags: [shops]
      parameters:
        - in: path
          name: content_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
        - {}
      responses:
        '200':
          description: Content post

  /shops/contents/{content_id}/delete/:
    delete:
      operationId: shops_contents_delete_destroy
      description: Delete a content post.
      tags: [shops]
      parameters:
        - in: path
          name: content_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '204':
          description: Content deleted

  /shops/contents/{content_id}/comments/:
    get:
      operationId: shops_contents_comments_list
      description: Get comments for a content post.
      tags: [shops]
      parameters:
        - in: path
          name: content_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
        - {}
      responses:
        '200':
          description: Content comments

  /shops/contents/{content_id}/comment-create/:
    post:
      operationId: shops_contents_comment_create_create
      description: Add a comment to a content post.
      tags: [shops]
      parameters:
        - in: path
          name: content_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Comment created

  /shops/contents/{content_id}/like/:
    post:
      operationId: shops_contents_like_create
      description: Like or unlike a content post (toggle).
      tags: [shops]
      parameters:
        - in: path
          name: content_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Like toggled

  /shops/contents/{content_id}/views/:
    post:
      operationId: shops_contents_views_create
      description: Record a view on a content post.
      tags: [shops]
      parameters:
        - in: path
          name: content_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
        - {}
      responses:
        '200':
          description: View recorded
    get:
      operationId: shops_contents_views_retrieve
      description: Get the view count for a content post.
      tags: [shops]
      parameters:
        - in: path
          name: content_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
        - {}
      responses:
        '200':
          description: View count

  /shops/contents/comments/{comment_id}/delete/:
    delete:
      operationId: shops_contents_comments_delete_destroy
      description: Delete a content comment.
      tags: [shops]
      parameters:
        - in: path
          name: comment_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '204':
          description: Comment deleted

  /shops/content-comments/{comment_id}/like/:
    post:
      operationId: shops_content_comments_like_create
      description: Like or unlike a content comment.
      tags: [shops]
      parameters:
        - in: path
          name: comment_id
          schema:
            type: string
            format: uuid
          required: true
      security:
        - jwtAuth: []
      responses:
        '200':
          description: Like toggled

components:
  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Authentication credentials were not provided or are invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

tags:
  - name: ads
    description: Advertisement purchase and payment
  - name: auth
    description: Authentication, registration, profiles, and social features
  - name: escrow
    description: Escrow transactions
  - name: feedbacks
    description: User feedback and admin responses
  - name: foods
    description: Food vendors, meals, subscriptions, and favorites
  - name: locations
    description: States, LGAs, and nearby discovery
  - name: messages
    description: Direct messages between users
  - name: notifications
    description: Push and in-app notifications
  - name: orders
    description: Order management
  - name: payment
    description: Payment processing
  - name: shops
    description: Shop listings, products, content feed, and interactions
  - name: staff
    description: Admin and staff operations
  - name: subscriptions
    description: User subscription management
  - name: users
    description: User addresses, cards, and account management
  - name: wallet
    description: Wallet balance, top-up, and withdrawals
